<%= link_to "All Dungeons", "/dungeons" %>
<%= link_to "All Monsters", "/monsters" %>

<h3>Editing Dungeon: <%= @dungeon.name %></h3>
<%= form_with url:"/dungeons/#{@dungeon.id}", method: :patch, data: { turbo: false } do |form| %>
  <%= form.label :name, 'Name of Dungeon' %><br/>
  <%= form.text_field :name, value: "#{@dungeon.name}" %><br/><br/>
  <%= form.label :deadly, 'Is it typically deadly?' %><br/>
    <% if @dungeon.deadly == true %>
      <%= form.label :deadly_true, 'True' %>
      <%= form.radio_button :deadly, 'true', checked: "checked" %>
      <%= form.label :deadly_false, 'False' %>
      <%= form.radio_button :deadly, 'false' %><br/>
    <% else %>
      <%= form.label :deadly_true, 'True' %>
      <%= form.radio_button :deadly, 'true' %>
      <%= form.label :deadly_false, 'False' %>
      <%= form.radio_button :deadly, 'false', checked: "checked" %><br/><br/>
    <% end %>
  <%= form.label :adventurers_claimed, "How many adventurer's has the dungeon claimed to date?" %><br/>
  <%= form.number_field :adventurers_claimed, value: @dungeon.adventurers_claimed.to_i, in: 0..1000, step: 1 %><br/><br/>
  <%= form.submit "Submit" %>
  <% end %>
