<%= link_to "All Dungeons", "/dungeons" %>
<%= link_to "All Monsters", "/monsters" %>

<h1>Dungeons</h1>

<%= link_to "Home Page", "/" %>

<% @dungeons.each do |dungeon| %>
  <h3><%= link_to "#{dungeon.name}", "/dungeons/#{dungeon.id}" %>&ensp;<small style="font-size:70%">Created at: <%= dungeon.created_at %></small></h3>
  <%= link_to "Edit", "/dungeons/#{dungeon.id}/edit" %> 
  <%= link_to "Delete", "/dungeons/#{dungeon.id}", data: { turbo_method: :delete} %>
<% end %><br/><br/>

<%= link_to "New Dungeon", "/dungeons/new" %>