<%= link_to "All Dungeons", "/dungeons" %>
<%= link_to "All Monsters", "/monsters" %>

<h3>Create a New Dungeon:</h3>

<%= form_with url:"/dungeons", method: :post, data: { turbo: false } do |form| %>
  <%= form.label :name, "Name of Dungeon" %><br/>
  <%= form.text_field :name %><br/><br/>
  <%= form.label :deadly, "It is deadly" %><br/>
  <%= form.label :deadly_true, "True" %>
  <%= form.radio_button :deadly, "true" %>
  <%= form.label :deadly_false, "False" %>
  <%= form.radio_button :deadly, "false" %><br/><br/>
  <%= form.label :adventurers_claimed, "How many adventurer's has the dungeon claimed to date?" %><br/>
  <%= form.number_field :adventurers_claimed, in: 0..1000, step: 1 %><br/><br/>
  <%= form.submit "Create Dungeon" %>
<% end %>