<%= link_to "All Dungeons", "/dungeons" %>
<%= link_to "All Monsters", "/monsters" %>

<h1><%= @dungeon.name %></h1>
<%= link_to "#{@dungeon.name} Monsters", "/dungeons/#{@dungeon.id}/monsters" %>
<p>Is it typically deadly? <%= @dungeon.deadly %></p>
<p>How many adventurers have been lost to it to date? <%= @dungeon.adventurers_claimed %></p>
<p><%= @dungeon.monster_count %> kinds of Monsters can be found in this Dungeon.</p>

<%= link_to "Edit", "/dungeons/#{@dungeon.id}/edit" %> 
<%= link_to "Delete Dungeon", "/dungeons/#{@dungeon.id}", data: { turbo_method: :delete} %>
