<%= link_to "All Dungeons", "/dungeons" %>
<%= link_to "All Monsters", "/monsters" %>

<h3>Editing Monster: <%= @monster.name %></h3>

<%= form_with url:"/monsters/#{@monster.id}", method: :patch, data: { turbo: false } do |form| %>
  <%= form.label :name, "Name of Monster" %><br/>
  <%= form.text_field :name, value: "#{@monster.name}" %><br/><br/>
  <%= form.label :intelligent, "The monster is intelligent" %><br/>
    <% if @monster.intelligent == true %>
      <%= form.label :intelligent_true, "True" %>
      <%= form.radio_button :intelligent, "true", checked: "checked" %> 
      <%= form.label :intelligent_false, "False" %>
      <%= form.radio_button :intelligent, "false" %><br/><br/>
    <% else %>
      <%= form.label :intelligent_true, "True" %>
      <%= form.radio_button :intelligent, "true" %> 
      <%= form.label :intelligent_false, "False" %>
      <%= form.radio_button :intelligent, "false", checked: "checked" %><br/><br/>
    <% end %>
  <%= form.label :hostile, "The monster is hostile by default" %><br/>
    <% if @monster.hostile == true %>
      <%= form.label :hostile_true, "True" %>
      <%= form.radio_button :hostile, "true", checked: "checked" %>
      <%= form.label :hostile_false, "False" %>
      <%= form.radio_button :hostile, "false" %><br/><br/>
    <% else %>
      <%= form.label :hostile_true, "True" %>
      <%= form.radio_button :hostile, "true" %>
      <%= form.label :hostile_false, "False" %>
      <%= form.radio_button :hostile, "false", checked: "checked" %><br/><br/>
    <% end %>
  <%= form.label :pack_size, "How many are usually found together?" %><br/>
  <%= form.number_field :pack_size, value: @monster.pack_size.to_i, in: 0..20, step: 1 %><br/><br/>
  <%= form.submit "Create Monster" %>
<% end %>