<%= link_to "All Dungeons", "/dungeons" %>
<%= link_to "All Monsters", "/monsters" %>

<h1>Monsters</h1>

<%= link_to "Home Page", "/" %>

<% @monsters.each do |monster| %>
  <h3><%= link_to "#{monster.name}", "/monsters/#{monster.id}" %></h3>
  <p><%= monster.attributes %></p>
  <%= link_to "Edit", "/monsters/#{monster.id}/edit" %> 
  <%= link_to "Delete", "/monsters/#{monster.id}", data: { turbo_method: :delete} %>
<% end %>