<ul style="list-style-type:none; margin-left:-40px;">
<li style="float:left; margin-right:20px;"><a href="/dungeons">All Dungeons</a></li>
<li style="float:left;"><a href="/monsters">All Monsters</a></li>
</ul><br/>

<h1>Monsters</h1>

<a href="/">Back to Home Page</a>

<% @monsters.each do |monster| %>
  <h3><a href="/monsters/<%= monster.id %>"><%= monster.name %></a></h3>
  <p><%= monster.attributes %></p>
  <a href="/monsters/<%= monster.id %>/edit">Edit</a>
  <form action="/monsters/<%= monster.id %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete"/>
  </form>
<% end %>