<%= link_to "All Dungeons", "/dungeons" %>
<%= link_to "All Monsters", "/monsters" %>

<a href="/monsters">Back to All Monsters</a>

<h1><%= @monster.name %></h1>

<p>Intelligent? <%= @monster.intelligent %></p>
<p>Hostile? <%= @monster.hostile %></p>
<p>Pack Size? <%= @monster.pack_size %></p>

<%= link_to "Update Monster", "/monsters/#{@monster.id}/edit" %> 
<%= link_to "Delete Monster", "/monsters/#{@monster.id}", data: { turbo_method: :delete} %>