<%= link_to "All Dungeons", "/dungeons" %>
<%= link_to "All Monsters", "/monsters" %>

<h1>Monsters found in the <%= @dungeon.name %></h1>

<%= link_to "Home Page", "/" %><br/><br/>
<%= link_to "Sort A..Z", "/dungeons/#{@dungeon.id}/monsters?sort=alphabetize" %><br/>
<%= form_with url:"/dungeons/#{@dungeon.id}/monsters", method: :get, data: {turbo: false } do |form| %>
  <%= form.label :amount, "Only return records with more than this amount for Pack Size" %><br/>
  <%= form.number_field :amount, in: 0..20 %>
  <%= form.submit "Submit" %>
<% end %>

<% @monsters.each do |monster| %>
  <h3 class='name'><%= link_to "#{monster.name}", "/monsters/#{monster.id}" %></h3>
  <p><%= "Intelligent? #{monster.intelligent} , Hostile? #{monster.hostile} , Pack Size? #{monster.pack_size}" %></p>
  <%= link_to "Edit", "/monsters/#{monster.id}/edit" %>
  <%= link_to "Delete", "/monsters/#{monster.id}", data: { turbo_method: :delete} %>
<% end %><br/><br/>

<%= link_to "Create Monster", "/dungeons/#{@dungeon.id}/monsters/new" %>