<%= link_to "All Dungeons", "/dungeons" %>
<%= link_to "All Monsters", "/monsters" %>

<h3>Create a new Monster:</h3>
<%= form_with url:"/dungeons/#{@dungeon.id}/monsters", method: :post, data: { turbo: false } do |form| %>
  <%= form.label :name, "Name of Monster" %><br/>
  <%= form.text_field :name %><br/><br/>
  <%= form.label :intelligent, "This monster is intelligent" %><br/>
  <%= form.label :intelligent_true, "True" %>
  <%= form.radio_button :intelligent, "true" %>
  <%= form.label :intelligent_false, "False" %>
  <%= form.radio_button :intelligent, "false" %><br/><br/>
  <%= form.label :hostile, "This monster is hostile by default" %><br/>
  <%= form.label :hostile_true, "True" %>
  <%= form.radio_button :hostile, "true" %>
  <%= form.label :hostile_false, "False" %>
  <%= form.radio_button :hostile, "false" %><br/><br/>
  <%= form.label :pack_size, "How many in this pack?" %><br/>
  <%= form.number_field :pack_size, in: 0..20, step: 1 %><br/><br/>
  <%= form.submit "Create Monster" %>
<% end %>